# Testing Stuff
example/

# Backup and Temporary Files
*~

# Compilation Artifacts
*.o
*.so
build/
Debug/
*Dbg/
*Rel/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# Visual Studio
*.plg
*.opt
*.vbw
*.ncb

# eMbedded Visual Studio
*.vco
*.vcb
*.vcl

# Debugging Artifacts
valgrind*

# Misc.
.DS_Store
